* {
  margin: 0;
}

:root {
  --bg-color: lightblue;
}

body {
  font-family: "Roboto", serif;
  font-size: 20px;
}

#app {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header"
    "main"
    "footer";

  text-align: center;

  header {
    grid-area: header;
    background-color: var(--bg-color);
    margin-bottom: 5%;
    padding: 5%;
  }

  main {
    grid-area: main;

    .buttons button {
      margin: 5%;
      border-radius: 10px;
      border: medium none lightblue;
      background-color: blue;
      padding: 10px;
    }

    .input {
      margin: 3%;
      border-radius: 150px;
      padding: 2%;
      background-color: var(--bg-color);
    }

    .input input {
      display: block;
      border: none;
      margin: auto;
      width: 70%;
      text-align: center;
      margin-top: 3%;
      border-radius: 15px;
      padding: 3%;
    }

    #results {
      margin: 10%;
      margin-bottom: 1%;
      border-radius: 150px;
      padding: 5%;
      background-color: grey;
    }
  }

  footer {
    background-color: var(--bg-color);
    grid-area: footer;
    padding: 5%;
  }
}
